<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.savemeie.android" version="0.0.4" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>SaveMe</name>
  <description>
        The Irish Money Savings Site
    </description>
  <author email="chrismaher.wit@gmail.com" href="http://chrismaher.wit@gmail.com">
      Chris Maher
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <allow-navigation href="http://*/*" />
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="phonegap-version" value="3.6.3"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>
